.background {
  viewport-fill: black;
}

text.clock {
  font-size: 100;
  font-family: Colfax-Bold;
  text-length: 1;
  text-anchor: middle;
  y: 50%+30;
  width: 20%;
}

#hours1 {
  x: 20%;
  fill: fb-lime;
}

#hours2 {
  x: $+15;
  fill: fb-cerulean;
}

#separator {
  x: $+10;
  fill: lightseagreen;
}
#minutes1 {
  x: $+10;
  fill: fb-pink;
}
#minutes2 {
  x: $+20;
  fill: fb-orange;
}

#additionalInfo { 
  text-anchor: middle;
  x: 50%;
  y: 80%;
  text-length: 10;
  fill: fb-pink;
  font-family: Colfax-Regular;
  font-size: 40;
}
